.DS_Store
.gitignore
.vs
build/
publishedbundles/
*xcodeproj/manderim.*
*xcshareddata*
*xcuserdata*
*vcxproj.filters
*vcxproj.user
proj/VS2017/Debug
proj/VS2017/Release
proj/VS2017/BitFiddle/Debug
proj/VS2017/BitFiddle/Release
